* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;
	background-image: url("afb/wallpaper.jpg");
}

.header {
	width: 600px;
	margin: 50px auto 0px;
	color: white;
	background: black;
	text-align: center;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content {
	width: 600px;

	margin: 0px auto;
	padding: 20px;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;

}
.btn{
	margin-bottom: 40px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: black;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto;
	padding: 10px; 
	border: 1px solid black;
	color: white;
	background: dodgerblue;
	border-radius: 5px;
	text-align: left;
}

@media only screen and (max-width: 800px) {

	body{
		background-image: url("");
		background: white;
		border-radius: 0;
	}
	.header{
		width: 100%;
		border-radius: 0;
	}
	form, .content {
		width: 100%;
		border-radius: 0;
	}
	.error{
		width: 100%;
		margin-left: -1.2em;
	}
	.input-group {
		margin: 10px 0px 10px 0px;

	}
	.input-group input {
		width: 80%;
		margin-right: 100px;

	}

	}
