body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar {
    overflow: auto;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 5px;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: rgba(211,211,211,0.5);
    color: black;
    box-shadow: 0px 0px 10px black;
}



.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}