
body {
    margin: 0;
    background-image: url("afb/wallpaper.jpg");
    font-size: 17px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.welkom{
    float: right;
    margin-right: 10px;
    line-height: 20px;

}
h3{
    display: inline;
}
.wrapper {
    background-color: rgba(244, 244, 244, 0.5);
    padding: 1em;
    margin-top: 1%;
    margin-left: 6%;
    margin-right: 6%;
    line-height: 0px;
    -webkit-column-count: 4;
    -webkit-column-gap:   0px;
    -moz-column-count:    4;
    -moz-column-gap:      0px;
    column-count:         4;
    column-gap:           0px;

}

@media only screen and (max-width: 1200px) {
    .wrapper {
        column-count:         3;
        -moz-column-count:    3;
        -webkit-column-count: 3;

    }
}

@media only screen and (max-width: 900px) {
    .wrapper {
        column-count:         2;
        -moz-column-count:    2;
        -webkit-column-count: 2;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper {
        column-count:         1;
        -moz-column-count:    1;
        -webkit-column-count: 1;
    }
}

.image, .button {
    width: 100%;
    height: auto;
    max-height: 1000px;
    min-width: 100%;
    padding: 0;
    margin-bottom: -2px;
    filter: grayscale(70%);
}

.button, button {
    background: white;
    border: none;
    border: 0;
    margin: 0px 0px;
    padding: 0;
}

.image:hover, .button:hover{
    filter: grayscale(0%);

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 70px;
    line-height: normal;


}

.modal-content {
    background-color: none;
    margin: 40px auto;
    width: 50%;
    height: 60%;
    animation-name: modalOpen;
    animation-duration: 2s;

}

#image_groot {
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 600px;
    max-width: 800px;

}




.modal-body {
    padding: 10px 20px;
    display: block;
    height: 90%;
    color: white;
    text-align: center;
}

[class^="closeBtn"] {
    color: white;
    float: right;
    font-size: 40px;
    margin-right: 10px;
}

[class^="closeBtn"]:hover, [class^="closeBtn"]:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

}

@keyframes modalOpen {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.mijnalbum{
    text-align: center;
    width: 100%;
    border: solid;
    margin: 0;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}